.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    font-family: $font-family;
    font-size: $font-size;

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        background-color: $accent;
      }

      &:checked ~ .checkmark:after {
        display: block;
      }
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      background-color: $background;
      border: 1px solid $lines;
      margin-top: -3px;

      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    // &:hover input ~ .checkmark {
    //   background-color: $background;
    //   left: 9px;
    //   top: 5px;
    //   width: 5px;
    //   height: 10px;
    //   border: solid $lines;
    //   border-width: 0 3px 3px 0;
    //   -webkit-transform: rotate(45deg);
    //   -ms-transform: rotate(45deg);
    //   transform: rotate(45deg);
    // }
  }