$player1: #f3722c;
$player2: #F9C74F;
$player3: #90BE6D;
$player4: #43AA8B;
$player5: #26547C;
$player6: #a04d5c;

$background: #577590;
$accent: #0f121a;
$selected: #212738;
$disabled: #577590;
$lines: #212738;
$text: #ece6d5;
$game-text: #ece6d5;
$shadow: #2e2e2e;

$font-family: 'Rexlia';
$font-size: 14px;
$game-font-family: 'Zorque';
$game-font-size: 20px;
$title-font-family: 'Vectroid';
$title-font-size: 2em;
