$player1: #ef476f;
$player2: #ffd166;
$player3: #06d6a0;
$player4: #2b59c3;
$player5: #593837;
$player6: #320E3B;

$background: #fffcf9;
$accent: #ff456f;
$selected: #0C0F0A;
$disabled: #2d3047;
$lines: #0c0f0a;
$text: #0c0f0a;
$game-text: #fffcf9;
$shadow: #2d3047;

$font-family: 'Rexlia';
$font-size: 14px;
$game-font-family: 'Zorque';
$game-font-size: 20px;
$title-font-family: 'Vectroid';
$title-font-size: 2em;
