<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
    </system.web>
        <system.webServer>
   <staticContent>
       <remove fileExtension=".otf" />
       <mimeMap fileExtension=".otf" mimeType="font/otf" />
       <mimeMap fileExtension=".json" mimeType="application/json" />
       <mimeMap fileExtension=".webmanifest" mimeType="application/json" />
    </staticContent>
</system.webServer>
</configuration>