$color01: #fffcf9; // bg
$color02: #ef476f;
$color03: #ffd166;
$color04: #06d6a0;
$color05: #2B59C3;
//$color06: #320E3B;
$color07: #593837;
//$color08: #084B83;
$color09: #2D3047; // disabled
$color10: #0C0F0A; //lines


#status {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-family: 'Super Mario';
  font-size: 20px;
  width: 100%;
  background-attachment: rgba(0, 0, 0, 0.0);
  pointer-events: none;
}

#skip {
  position: fixed;
  top: 10px;
  right: 10px;
  font-family: 'Super Mario';
  font-size: 24px;
  border: 2px solid $color10;
  background-color: $color09;
  color: $color01;
}